.titulo{
  text-align: center;
  font-size: 5em;
}
.perri{
  width:30%;
  margin-top: 20px;
  float: left;
  margin-left: 10px;
  border-radius: 9px;
}
.calidad{
  width: 65%;
  margin-left: 480px;
  text-align: justify;
}
.yellow{
  padding-top: 20px;
}
.mas{
  margin-top: 150px;
  text-align: justify;
  width: 50%;
  background-color: yellow;
  float: left;
}
.icon2{
  width: 20%;
  margin-top: 100px;
  margin-left: 0px;
  float: left;
}

.ut{
  width: 20%;
  margin-left: 700px;
  display: flex;
}
.icon3{
  width: 20%;
  margin-left: 250px;

}