
.container11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    min-height: 100vh;
    position: relative;
  }
  
  .imagenes {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
  }
  
  .container_1 {
    display: flex;
    align-items: flex-start;
    margin-top: 5%;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .texto-container {
    flex: 1;
    margin-left: 15px;
    margin-right: 2%;
    overflow-y: auto;
    padding: 10px;
    text-align: justify;
  }
  
  .image {
    width: 200px;
    height: 150px;
    margin-right: 2%;
    margin-left: 15px;
    margin-top: 2%;
  }
  
  .container_2 {
    display: flex;
    align-items: flex-start;
    margin-top: 5%;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .texto-container-2 {
    flex: 1;
    margin-left: 2%;
    margin-right: 15px;
    overflow-y: auto;
    padding: 10px;
    text-align: justify;
  }
  
  .image_2 {
    width: auto;
    height: 150px;
    margin-left: 2%;
    margin-right: 15px;
    margin-top: 2%;
  }
  
  p.dos {
    white-space: pre-wrap;
  }

  /* header, main, footer {
    padding: 20px;
    margin-bottom: 20px;
    background-color: lightgray;
  }
  
  @media (max-width: 600px) {
    header, main, footer {
      padding: 10px;
    }
  }
  
  @media (max-width: 400px) {
    header, main, footer {
      padding: 5px;
    }
  } */

  
  