.cadenas{
    margin: 10px;
    padding: 5px;
    justify-content: center;    
    display: flex;
    
}
.login{
    background-color: brown;
    width: 40%;
    padding: 10px;
    border-radius: .4rem;

}
.login h2{
    color: white;

}
.btn{
    width: 100%;
    font-weight: bold;
}
.btn:hover{
    background-color:#5c1e1e ;
    font-weight: bold;
}
.redes img{
    width: 10%;
    cursor: pointer;
}
 .uno {
    text-align: center;
    font-weight: bold;
    color: white;
}
.metodos{
    display: inline-flex;
    width: 38%;
}
